<div class="row no-gutters justify-content-center">
	<div class="col-sm"></div>
	<div class="col-8" style="text-align: center;">
		<button type="button" class="btn btn-primary" id="editor-button" data-toggle="modal" data-target="#exampleModalLong">Edit</button>
		<button type="button" class="btn btn-danger">Delete</button>
	</div>
	<div class="col-sm"></div>
</div>